@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model IEnumerable<CineWave.Models.Insights>
}

<div class="container mt-5">
    <h2>Previsões (Página do método q nn conseguimos resolver o problema na CampanhaController o método PrevisoesPage())</h2>
    <div class="row">
        @foreach (var previsao in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@previsao.MovieTitle</h5>
                        <p class="card-text"><strong>Previsão de ROI:</strong> @previsao.RoiForecast</p>
                        <p class="card-text"><strong>Canal de Marketing:</strong> @previsao.MarketingChannel</p>
                        <p class="card-text"><strong>Custo Médio por Click:</strong> @previsao.AverageCostPerClick</p>
                        <p class="card-text"><strong>Previsão de Conversão:</strong> @previsao.ConversionPrediction</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>